<div class=" cont">
  <nav class="navbar navbar-expand-md bg-body-tertiary" style="width: 100%;">
    <div class="container-fluid bg-white">
      <a class="navbar-brand" style="cursor: default;">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
          class="bi bi-cash-coin text-secondary" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
          <path
            d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
          <path
            d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
          <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
        </svg>EXM</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-around w-50 contents">
          <li class="nav-item">
            <a [class]="navActive" aria-current="page" routerLink="/Spending">Spending</a>
          </li>
          <li class="nav-item">
            <a [class]="nav" aria-current="page" routerLink="/Transactions">Transactions</a>
          </li>
          <li class="nav-item">
            <a [class]="nav" aria-current="page" routerLink="/Categories">Categories</a>
          </li>
          <li class="nav-item">
            <a [class]="nav" aria-current="page" routerLink="/Reports">Reports</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Button trigger modal -->
<button type="button" class="btn m-2 btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal1">
  Set Budget
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Budget</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div  class=" text-start px-2">
          <input type="radio" id="1" value="Monthly" name="radiobtn" (click)="checkRadio1()" [checked]="MonthOrYearRadioValue">
          <label for="1"> Month</label><br>
          <input type="radio" id="2" value="Yearly" name="radiobtn" (click)="checkRadio2()" [checked]="!MonthOrYearRadioValue">
          <label for="2"> Year</label><br>
          <input #value class="mt-2" type="number" [value]="setBudget" onkeypress="return event.charCode = 46||event.charCode >= 48" (change)="budget()" >
        </div>

      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
        <button class="btn btn-dark m-3" type="button" [disabled]="savebtn" (click)="saveoption(value)">Save</button>
        <button class="btn btn-dark m-3" type="button"  (click)="clearoption(value)">Clear</button>
      </div>
    </div>
  </div>
</div>
  

  <div class="d-flex flex-column text-center" >
<!-- Budget setter -->
    <!-- <div class="d-flex justify-content-end bg-secondary-subtle cursor budget" style="position: absolute;right: 0;margin: 10px;border: 1px solid blanchedalmond;">
      <div class="card resize" style="width: 15rem;background-color: rgb(117, 102, 102);">
        <div class="d-flex flex-column card-body">
          <h5 class="card-title ">Budget</h5>
          <div  class=" text-start px-2">
            <input type="radio" id="1" value="Monthly" name="radiobtn" (click)="checkRadio1()" [checked]="MonthOrYearRadioValue">
            <label for="1"> Month</label><br>
            <input type="radio" id="2" value="Yearly" name="radiobtn" (click)="checkRadio2()" [checked]="!MonthOrYearRadioValue">
            <label for="2"> Year</label><br>
          </div>
          <input #value class="mt-2" type="number" [value]="setBudget" onkeypress="return event.charCode = 46||event.charCode >= 48" (keypress)="budget()" >
          <div class="d-flex flex-row prop">
            <button class="btn btn-dark m-3" type="button" [disabled]="savebtn" (click)="saveoption(value)">Save</button>
            <button class="btn btn-dark m-3" type="button"  (click)="clearoption(value)">Clear</button>
          </div>
        </div>
      </div>
    </div> -->

    
    <div class="text-white p-3">
      <p class="fs-5 fw-bold">Dashboard</p>
    <hr>

    <div class="col-md-12 d-flex flex-row">
      <div class="col-md-6 text-end pe-5">Income</div>
      <div class="col-md-6 text-start"><span class="pe-5">-</span><span>₹</span>{{Income}}</div>
    </div>
    <div>

    </div>
    <div class="col-md-12 d-flex flex-row">
      <div class="col-md-6 text-end pe-5">Expense</div>
      <div class="col-md-6 text-start"><span class="pe-5">-</span><span>₹</span><span [style.color]="ExpenseEval>BudgetEval?'red':'white'">{{Expense}}</span></div>
    </div>
      <!-- <div class="p-2">Expense - {{Expense}}</div> -->
  
      <!-- <div class="balance">
      <div>------------------------------------</div>
      <div class="p-2">Balance <span class="px-3">-</span> <span>₹</span> {{Balance}}</div>
      <div>------------------------------------</div>
    </div> -->
      
      <hr>
      <p>Expenses By Category</p>
      <hr>
      <div *ngFor="let item of categorySum;let i=index" class="col-sm-12 col-md-12 d-flex flex-row justify-content-around">
        <div class="col-sm-7 col-md-4 text-end">{{item.CategoryType}}</div>
        <div class="col-sm-1 col-md-4 text-center minsize">-</div>
        <div class='col-sm-4 col-md-4 text-start '><span>₹</span>{{item.Amount}}</div>
      </div>
      <!-- <hr>
      <div class="col-sm-12 col-md-12 d-flex flex-row justify-content-around">
        <div class="col-sm-7 col-md-4 text-end">Total</div>
        <div class="col-sm-1 col-md-4 text-center minsize">-</div>
        <div class="col-sm-4 col-md-4 text-start"><span>₹</span>{{Expense}}</div>
      </div>
      <hr> -->
    </div>
    <!--  -->

    <!-- Button trigger modal -->




    <!-- form -->
    
<!--  -->
    <div class="d-flex type container-fluid justify-content-center" style="position: absolute;bottom:30px;">
      <h4 class="text-center" data-bs-toggle="modal" data-bs-target="#exampleModal">Income/Expense</h4>
    </div>
  </div>
</div>



 <!-- spinner -->
 <ngx-spinner
 bdColor="rgba(51,51,51,0.8)"
 size="medium"
 color="silver"
 type="ball-clip-rotate-multiple"
></ngx-spinner>

<!-- Modal -->

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <form  [formGroup]="EntryForm">
            <div  class="d-flex flex-column box bg-success-subtle gap-3 p-3">
              <h5 class="py-3 text-center border-bottom border-black">Add Income/ Expense</h5>
              <div>
                <label class="col-md-6 col-6" for="dateToday">Select Date</label>
                <input class="col-md-6 col-6" type="date" id="dateToday"  [value]="time">
              </div>
      
              
      
              <div class="d-flex flex-row">
                <label class="col-md-6 col-6">Choose option</label>
                <div class="col-md-6 col-6 text-start">
                  <input formControlName="radio" type="radio" id="1" value="Income" (click)="checkRadio1()">
                  <label for="1"> Income</label><br>
                  <input formControlName="radio" type="radio" id="2" value="Expense" (click)="checkRadio2()">
                  <label for="2"> Expense</label><br>
                </div>
              </div>
      
      
              <div class="dropdown">
                <label class="col-md-6 col-6"> Category</label>
                <button class="col-md-6 col-6" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" >
                  <!-- Category  -->{{dropdown}}
                </button>
                
                <ul class="dropdown-menu col-md-6 col-6">
                  <li *ngFor="let item of categoryList;let i=index" ><a  #val class="dropdown-item cursor"
                      (click)="chooseCategory(val)" *ngIf="item.Type==RadioButtonOption">{{item.Category}}</a></li>
                </ul>
                <!-- <span class="px-2">{{dropdown}}</span> -->
              </div>
      
      
              <div>
                <label class="col-md-6 col-6" for="amt">Enter Amount </label>
                <input formControlName="amount" class="col-md-6 col-6" type="number" id="amt" onkeypress="return event.charCode = 46||event.charCode >= 48" [value]="amount">
              </div>
              <div class="d-flex flex-row justify-content-evenly p-2"><button type="submit" class="btnfn p-2 px-5 btn btn-success bg-secondary"
                  (click)="save()">Save</button>
                <button type="button" class="btnfn p-2 px-5 btn btn-success bg-secondary" (click)="close()">Close</button>
              </div>
            </div>
        </form>
        </div>
        
      </div>
    </div>
  </div>


